#loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 1;
}

#spinner {
    display: none;
    color: #fff;
    z-index: 2;
}

#wrap {
    background: #fff;
    width: 100%;
}

.hiddenItems {
    display: none;
}

input[type="number"] {
  width: 100px;
}

input + span {
  padding-right: 30px;
}

input:invalid + span::after {
  /*position: absolute;*/
  content: "\4e88\7d04\53ef\80fd\6642\9593\5916\3067\3059";
  color: red;
  padding-left: 5px;
}

input:valid + span::after {
  position: absolute;
  content: "";
  padding-left: 5px;
}